@use "../../node_modules/bulma/sass/utilities" with (
    $text: #000000,
    $link: #77b5b6,
    $primary: #6a408d,
    $info: #d1cbe5,
    $success: #378d94,
    $warning: #9671bd,
    // $danger: #0088cc,
);

@forward "../../node_modules/bulma/bulma";

h3 {
    text-decoration: underline;
}


.emphasis {
    color: #378d94;
}


.footer {
    a {
        color: #9671bd;
    }
}